<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/panda-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styling/style.css">
    <link rel="stylesheet" href="/codebaseBranding/brand.css">
    <script type="module" src="/codebaseBranding/brand.js"></script>
    <title> <%= title %></title>
</head>
<body>
    <header></header>
    <main>
        <div id="display-screen">
            <video id="videoPlayer" controls autoplay></video>
        </div> 
        <div class="other-videos centered">
            <div id="video-grid"></div>       
        </div>  
    </main>
    <footer></footer>

<script src="/functionality/func.js"></script>
</body>
</html>
